name: ci-main
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165	# v5.0.0
        with:
          java-version: 21
          distribution: adopt
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830	# v4.3.0
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
      - name: version
        run: |-
          APP_SHA=$(git rev-parse --short ${GITHUB_SHA})
          #APP_LATEST_REV=$(git rev-list --tags --max-count=1)
          #APP_LATEST_TAG=$(git describe --tags ${APP_LATEST_REV} 2> /dev/null || echo 0.0.0)
          APP_LATEST_TAG_NO_PREFIX=$(git tag -l --sort=-version:refname | grep -v -E "tngkds" | head -1)
          echo "APP_VERSION=${APP_LATEST_TAG_NO_PREFIX}-${APP_SHA}" >> ${GITHUB_ENV}
      - name: mvn
        run: |-
          mvn versions:set \
          --batch-mode \
          --file ./pom.xml \
          --settings ./settings.xml \
          --define newVersion="${APP_VERSION}"
          mvn clean verify \
          --batch-mode \
          --file ./pom.xml \
          --settings ./settings.xml \
          --define app.packages.username="${APP_PACKAGES_USERNAME}" \
          --define app.packages.password="${APP_PACKAGES_PASSWORD}"
        env:
          APP_PACKAGES_USERNAME: ${{ github.actor }}
          APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: docker
        run: >-
          echo "${APP_PACKAGES_PASSWORD}" |
          docker login "${APP_PACKAGES_URL}"
          --username "${APP_PACKAGES_USERNAME}"
          --password-stdin;
          docker build .
          --file ./Dockerfile
          --tag "${APP_PACKAGES_URL}:${APP_VERSION}";
          docker push "${APP_PACKAGES_URL}:${APP_VERSION}";
          docker build .
          --file ./DB-Changelog-Dockerfile
          --tag "${APP_PACKAGES_URL}-initcontainer:${APP_VERSION}";
          docker push "${APP_PACKAGES_URL}-initcontainer:${APP_VERSION}";
        env:
          APP_PACKAGES_URL: ghcr.io/worldhealthorganization/tng-key-distribution/tng-key-distribution
          APP_PACKAGES_USERNAME: ${{ github.actor }}
          APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
