name: ci-pull-request
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165	# v5.0.0
        with:
          java-version: 21
          distribution: adopt
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830	# v4.3.0
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
      - name: mvn
        run: |-
          mvn clean package \
          --batch-mode \
          --file ./pom.xml \
          --settings ./settings.xml \
          --define app.packages.username="${APP_PACKAGES_USERNAME}" \
          --define app.packages.password="${APP_PACKAGES_PASSWORD}"
        env:
          APP_PACKAGES_USERNAME: ${{ github.actor }}
          APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: docker
        run: |-
          docker build . \
          --file ./Dockerfile
