name: ci-release-notes
on:
  release:
    types:
      - created
jobs:
  release-notes:
    runs-on: ubuntu-22.04
    env:
      APP_VERSION: ${{ github.event.release.tag_name }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          fetch-depth: 0
      - name: release-notes
        run: npx github-release-notes release --override --tags ${APP_VERSION}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GREN_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
